$color-purple: #2F1C6A;
body{
    color: $color-purple;
    font-family: 'DM Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

header ul{
    margin-top: 0;
}
header ul li{
    list-style-type: none;
    display: inline-block;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.introduction{
    display: flex;
    flex-direction: column;
    
}

.price{
    font-size: 2rem;
    font-weight: 700;
}

.free-months{
    font-weight: 700;
}

.countdown-timer{
    display: flex;
    padding-bottom: 5vh;
    justify-content: center;
}

.countdown-timer span{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
}

.savings{
    background-color: purple;
}

.sample-site img{
    width: 90vw;
}

.plan-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.plan-card-container div{
    border: 1px solid black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plan-card-container ul{
    border: 1px solid red;
    text-align: left;
    margin: 0;
    list-style-type: none;
    
}

.plan-card-container ul li::before {
    content: "\2713"; /* Unicode character for checkbox (checked) symbol */
    color: green; /* Set the color to green */
    display: inline-block; /* Make the checkbox appear inline with the list item text */
    width: 1em; /* Adjust the width for proper spacing */
    margin-left: -1em; /* Move the checkbox to the left to avoid overlapping with text */
  }
@media only screen and (min-width: 768px){

}