$color-purple: #2F1C6A;
body{
    color: $color-purple;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 6vh;
    border-bottom: 1px solid grey;
    background-color: white;
    ul{
        display: none;
        margin: 0;
        li{
            padding-right: 2vw;
        }
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        width: 32px;
        
    }
    .language-selector{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .language-selector img{
        width: 32px;
        object-fit: contain;
    }
}
.header-left{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-right{
    display: flex;
}
button{
    all: unset; 
}

.select-btn{
    background-color: purple;
    color: white;
    width: 20vw;
    border-radius: 5px;
    margin-top: 24px;
    padding: 12px 16px;
    margin: auto;
}

header ul{
    margin-top: 0;
}
header ul li{
    list-style-type: none;
    display: inline-block;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.introduction{
    display: flex;
    flex-direction: column;
}

.price{
    font-size: 2rem;
    font-weight: 700;
}

.free-months{
    font-weight: 700;
}

.countdown-timer{
    display: flex;
    gap: 0.5rem;
    padding-bottom: 5vh;
    justify-content: center;
}

.countdown-timer span:nth-child(odd){
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}

.countdown-timer span:nth-child(even){
    padding-top: 1rem;
}

.sample-site img{
    width: 90vw;
}

.discount-info{
    margin-top: 24px;
}
.old-price{
    text-decoration: line-through;
}
.savings{
    background-color: purple; 

}

.plan-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding: 2vw;
}

.plan-card-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plan-card-container div ul{
    text-align: left;
    margin: 0;
    list-style-type: none;
}

.plan-card-container ul li::before {
    content: "\2713"; /* Unicode character for checkbox (checked) symbol */
    color: green; /* Set the color to green */
    display: inline-block; /* Make the checkbox appear inline with the list item text */
    width: 1em; /* Adjust the width for proper spacing */
    margin-left: -1em;
  }

  .site-type-desktop{
    display: none;
  }
@media only screen and (min-width: 768px){
    header{
        ul{
            display: block;
        }
    }
    .site-type{
        display: none;
    }
    .site-type-desktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        li{
            padding: 0 0.5rem;
        }
    }
    .site-type-desktop li:hover{
        border-bottom: 1px solid blue;
        color: blue;
      }
}